.shiftBtn {
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 12px;
    transition: .25s;
    background-color: #fff;
    color: #000;

    &:hover {
        box-shadow: 0 0 20px #fff;
    }
}

.shiftBtnPrimary {
    background-color: #026AA7;
    color: #fff;

    &:hover {
        box-shadow: 0 0 20px #026AA7;
    }
}

.shiftBtnError {
    background-color: #C41E3A;
    color: #fff;

    &:hover {
        box-shadow: 0 0 20px #C41E3A;
    }
}

.shiftBtnWarning {
    background-color: #f05408;
    color: #fff;

    &:hover {
        box-shadow: 0 0 20px #f05408;
    }
}

.shiftBtnSuccess {
    background-color: green;
    color: #fff;

    &:hover {
        box-shadow: 0 0 20px green;
    }
}

.shiftBtnDisabled {
    background-color: #eee;

    &:hover {
        box-shadow: 0 0 20px #fff;
    }
}