.navigation {
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    padding: .5rem;
    border-radius: 8px;
    transition: .5s;
    position: relative;
    z-index: 3;
}

.navigationToggle {
    position: absolute;
    top: .5rem;
    right: -2.1rem;
    background-color: #026AA7;
    padding: .75rem .1rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

.navigationList {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navigation__title {
    font-size: 1.5rem;
    color: #000;
    font-weight: 400;
    margin-bottom: 1rem;
}