.item {
    font-size: .9375rem;
    margin-bottom: .625rem;
    padding: .625rem;
    border-radius: .3125rem;
    z-index: 1;
    background-color: white;

    &:hover {
        cursor: grab;
    }
}

.overDeadline {
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}


.colorBar {
    width: 2.5rem;
    height: .625rem;
    border-radius: 5px;
}

.itemTitle {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: .5rem;
}

.itemContent {
    font-size: 1rem;
    font-weight: 400;
    margin-top: .5rem;
    text-overflow: ellipsis;
}

.itemFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}