.wrapper {
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    width: 100%;
}

.headerRow {
    border-bottom: 1px solid #000;
    padding-bottom: 2rem;
}