.taskpage {
    width: 100%;
}

.card {
    width: 15rem;
    min-height: 10rem;
    background-color: #fff;
    box-shadow: 0 0 3px #000;
    border-radius: .5rem;
    padding: 1rem;
    position: relative;
}

.cardInner {

    .cardInner__title {
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        font-weight: 500;
        color: #000;
    }

    .cardInner__text {
        font-size: 1rem;
        font-weight: 400;
        color: #000;
        margin-bottom: 2rem;
    }

    .cardInner__date {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}