.taskPage {
    display: flex;
    height: calc(100vh - 40vh)
}

.board {
    min-width: 20rem;
    min-height: 15rem;
    box-shadow: 0 0 5px #4169E1;
    padding: 1.325rem .625rem;
    border-radius: .875rem;
    margin: .625rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.board__title {
    font-size: 1.5rem;
    font-weight: 700;
}

.item {
    width: 100%;
    border: 1px solid #4169E1;
    padding: .625rem;
    border-radius: 6px;
    margin: 5px 0;
    cursor: grab;
    background-color: #fcfcf9;
    color: #000;
    position: relative;
}

.item__title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.item__content {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.item__dateTime {
    position: absolute;
    bottom: .625rem;
    right: .625rem;
}