.header {
    width: 100%;
    padding-top: 4rem;
}

.headerRow {
    padding-bottom: 1rem;
    display: flex;
    align-items: baseline;

    .headerRow__logo {
        margin-right: .5rem;
        color: rgb(79, 135, 150);
    }

    .headerRow__title {
        font-size: 2rem;
        font-weight: 400;
        color: #000;
    }
}