.container {
    max-width: 90rem;
    margin: 0 auto;
    width: 100%;
}

.contentBlock {
    display: flex;
}

.contentMain {
    border-left: 1px solid #000;
    flex-basis: 80%;
    padding: 3rem 2rem;
}

.navigationMain {
    flex-basis: 20%;
    padding-right: 1rem;
}