.container {
    max-width: 80rem;
    margin: 0 auto;
    width: 100%;
}

.layout {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.hideNavigation {
    transform: translateX(-100%);
    opacity: 0;
    transition: .5s;
}

.showNavigation {
    transform: translateX(0%);
    opacity: 1;
    transition: .5s;
}

.firstContentMain {
    margin-left: 4rem;
}

.contentMain {
    transform: translateX(-19%);
    transition: .5s;
}

.moveOnRightMenu {
    transform: translateX(7%);
    transition: .5s;
}

.isMenuOpen__btn {
    position: absolute;
    width: 2rem;
    height: 4rem;
    background-color: #fff;
    top: .5rem;
    right: .5rem;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}