.container {
    max-width: 90rem;
    margin: 0 auto;
    width: 100%;
}

.contentBlock {
    display: flex;
    transform: translateX(-15%);
    transition: .5s;
}

.contentMain {
    padding: 0rem 2rem 3rem 2rem;
}

.active {
    display: flex;
    transition: .5s;
    transform: translateX(0%);
}

.isMenuOpen {
    position: relative;
    // padding-right: 1rem;
}

.isMenuOpen__btn {
    position: absolute;
    width: 2rem;
    height: 4rem;
    background-color: #fff;
    top: .5rem;
    right: .5rem;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}